.ant-menu {
  height: 960px;
}
.ant-menu-item-disabled {
  padding: 32px 25px !important;
}
header .ant-menu-inline-collapsed {
  width: 96px;
}
header {
  top: 32px;
  left: 32px;
  height: 960px;
}
.ant-menu-title-content {
  margin-left: 20px !important;
}
.ant-menu-item {
  padding-left: 30px !important;
}
