/* color palette from <https://github.com/vuejs/theme> */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root {
  --pure-white: #ffffff;
  --grayish-blue: #5a698f;
  --dark-blue: #10141e;
  --semi-dark-blue: #161d2f;
  --red-custom: #fc4747;
}

/* semantic color variables for this project */
:root {
  --color-icon-active: var(--pure-white);
  --color-logo: var(--red-custom);
  --color-background: var(--dark-blue);

  --color-text: var(--pure-white);
  --color-text-secondary: var(--grayish-blue);

  --color-menu-background: var(--semi-dark-blue);
  --color-text-2: var(--vt-c-text-light-1);

  --text-xs: 18px;
  --text-s: 24px;
  --text-m: 24px;
  --text-l: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
